<ion-view title="Login page">
  <ion-content padding="true" class="has-header">
    <h2 style="color:#8ACC5E;">Entrez vos identifiants</h2>
     <form ng-submit="submit()" name="myForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Numero user</span>
          <input type="text" ng-model="loginData.username" ng-minlength="1" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" ng-minlength="5" required>
        </label>
           <div class="padding">
            <p ng-show="myForm.loginData.username.$error.required">* Username is required</p>
            <p ng-show="myForm.loginData.username.$invalid && !myForm.username.$pristine">* Username must be an email address</p>
            <p ng-show="myForm.loginData.username.$error.minlength">* Username must be longer than 5 characters</p>
            <p ng-show="myForm.loginData.password.$error.required">* Password is required</p>
            <p ng-show="myForm.loginData.password.$error.minlength">* Password must be longer than 6 characters</p>
        </div>
        <label class="item">
          <button class="button button-block button-balanced" ng-click="submit()" type="submit" ng-disabled="myForm.$invalid">Log in (actif si champs valides)</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
